In [37]:
# Dependencies and Setup
import pandas as pd

# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary
* Calculate the total number of schools
* Calculate the total number of students
* Calculate the total budget
* Calculate the average math score 
* Calculate the average reading score
* Calculate the percentage of students with a passing math score (70 or greater)
* Calculate the percentage of students with a passing reading score (70 or greater)
* Calculate the percentage of students who passed math **and** reading (% Overall Passing)
* Create a dataframe to hold the above results
* Optional: give the displayed data cleaner formatting

In [38]:
# Total schools in the district
totalSchools = len(school_data_complete["School ID"].unique())

# Total sudents across all schools
totalStudents = len(school_data_complete)

# Total Budget across all schools
totalBudget = school_data["budget"].sum()

# Avg. Maths Score
avgMathScore = school_data_complete["math_score"].mean()

# Avg. Reading Score
avgReadingScore = school_data_complete["reading_score"].mean()

# % Passing Maths
countPassingMath = school_data_complete.loc[school_data_complete["math_score"] >= 70]["math_score"].count()
percentPassingMath = (countPassingMath / totalStudents) * 100

# % Passing Reading
countPassingReading = school_data_complete.loc[school_data_complete["reading_score"] >= 70]["reading_score"].count()
percentPassingReading = (countPassingReading / totalStudents) * 100

# % Overall Passing
countStudentsPassing = school_data_complete.loc[(school_data_complete["math_score"] >=70) & (school_data_complete["reading_score"] >= 70)]["Student ID"].count()
percentStudentsPassing = (countStudentsPassing / totalStudents) * 100

# DataFrame for District Summary
district_summary_df = pd.DataFrame({
    "Total Schools": [totalSchools],
    "Total Students": "{:,}".format(totalStudents),
    "Total Budget": "${:,.2f}".format(totalBudget),
    "Average Math Score": avgMathScore,
    "Average Reading Score": avgReadingScore,
    "% Passing Math": percentPassingMath,
    "% Passing Reading": percentPassingReading,
    "% Overall Passing": percentStudentsPassing
    })

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary
* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [39]:
# Group data by 'School Name'
school_groups = school_data_complete.groupby("school_name")

# Total Students (per School)
schoolTotalStudents = school_groups["Student ID"].count()

# Get School Type from School Data series
schoolType = school_data.set_index("school_name")["type"]

# Get School Budget from school data series
schoolBudget = school_data.set_index("school_name")["budget"]

# Budget per Student
budgetPerStudent = schoolBudget/schoolTotalStudents

# Avg. Maths Score
avgMathScore = school_groups["math_score"].mean()

# Avg. Reading Score
avgReadingScore = school_groups["reading_score"].mean()

# % Passing Maths
countPassingMaths = school_data_complete.loc[school_data_complete["math_score"] >= 70].groupby("school_name")["math_score"].count()
percentPassingMaths = (countPassingMaths/schoolTotalStudents) * 100

# % Passing Reading
countPassingReading = school_data_complete.loc[school_data_complete["reading_score"] >= 70].groupby("school_name")["reading_score"].count()
percentPassingReading = (countPassingReading / schoolTotalStudents) * 100

# % Overall Passing
countStudentsPassing = school_data_complete.loc[(school_data_complete["math_score"] >=70) & (school_data_complete["reading_score"] >= 70)].groupby("school_name")["Student ID"].count()
percentStudentsPassing = (countStudentsPassing / schoolTotalStudents) * 100

In [40]:
# DataFrame for School Summmary
school_summary_df = pd.DataFrame({
    "School Type": schoolType,
    "Total Students": schoolTotalStudents,
    "Total School Budget": schoolBudget.map("${:,.2f}".format),
    "Per Student Budget": budgetPerStudent.map("${:,.2f}".format),
    "Average Math Score": avgMathScore,
    "Average Reading Score": avgReadingScore,
    "% Passing Math": percentPassingMaths,
    "% Passing Reading": percentPassingReading,
    "% Overall Passing": percentStudentsPassing
    })

school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)
* Sort and display the top five performing schools by % overall passing.

In [41]:
# Sort the School Summary by 'Percent Overall Passing' and display the top 5
school_summary_df.sort_values(["% Overall Passing"], ascending=False).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)
* Sort and display the five worst-performing schools by % overall passing.

In [42]:
# Sort the School Summary by 'Percent Overall Passing' and display the bottom 5
school_summary_df.sort_values(["% Overall Passing"], ascending=True).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade
* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
  * Create a pandas series for each grade. Hint: use a conditional statement.
  * Group each series by school
  * Combine the series into a dataframe
  * Optional: give the displayed data cleaner formatting

In [43]:
# Filter math_score by each grade and group by school
avg_9_MathsScores = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby("school_name")["math_score"].mean()
avg_10_MathsScores = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby("school_name")["math_score"].mean()
avg_11_MathsScores = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby("school_name")["math_score"].mean()
avg_12_MathsScores = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby("school_name")["math_score"].mean()

# Apply formatting to show 3 decimal places
avg_maths_scores_df = pd.DataFrame({
    "9th": avg_9_MathsScores.map("{:.3f}".format),
    "10th": avg_10_MathsScores.map("{:.3f}".format),
    "11th": avg_11_MathsScores.map("{:.3f}".format),
    "12th": avg_12_MathsScores.map("{:.3f}".format)
})

# Remove the index column label from header
avg_maths_scores_df = avg_maths_scores_df.rename_axis(None, axis=0)
avg_maths_scores_df

                          9th    10th    11th    12th
Bailey High School     77.084  76.997  77.516  76.492
Cabrera High School    83.095  83.155  82.766  83.277
Figueroa High School   76.403  76.540  76.884  77.151
Ford High School       77.361  77.672  76.918  76.180
Griffin High School    82.044  84.229  83.842  83.356
Hernandez High School  77.438  77.337  77.136  77.187
Holden High School     83.787  83.430  85.000  82.855
Huang High School      77.027  75.909  76.447  77.226
Johnson High School    77.188  76.691  77.492  76.863
Pena High School       83.625  83.372  84.328  84.122
Rodriguez High School  76.860  76.612  76.396  77.691
Shelton High School    83.421  82.917  83.383  83.779
Thomas High School     83.590  83.088  83.499  83.497
Wilson High School     83.086  83.724  83.195  83.036
Wright High School     83.265  84.010  83.837  83.645

## Reading Score by Grade
* Perform the same operations as above for reading scores

In [44]:
# Filter reading_score by each grade and group by school
avg_9_ReadingScores = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
avg_10_ReadingScores = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
avg_11_ReadingScores = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
avg_12_ReadingScores = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

# Apply formatting to show 3 decimal places
avg_reading_scores_df = pd.DataFrame({
    "9th": avg_9_ReadingScores.map("{:.3f}".format),
    "10th": avg_10_ReadingScores.map("{:.3f}".format),
    "11th": avg_11_ReadingScores.map("{:.3f}".format),
    "12th": avg_12_ReadingScores.map("{:.3f}".format)
})

# Remove the index column label from header
avg_reading_scores_df = avg_reading_scores_df.rename_axis(None, axis=0)
avg_reading_scores_df

                          9th    10th    11th    12th
Bailey High School     81.303  80.907  80.946  80.912
Cabrera High School    83.676  84.253  83.788  84.288
Figueroa High School   81.199  81.409  80.640  81.385
Ford High School       80.633  81.263  80.404  80.662
Griffin High School    83.369  83.707  84.288  84.014
Hernandez High School  80.867  80.660  81.396  80.857
Holden High School     83.677  83.325  83.816  84.699
Huang High School      81.290  81.512  81.417  80.306
Johnson High School    81.261  80.773  80.616  81.228
Pena High School       83.807  83.612  84.336  84.591
Rodriguez High School  80.993  80.630  80.865  80.376
Shelton High School    84.123  83.442  84.374  82.782
Thomas High School     83.729  84.254  83.586  83.831
Wilson High School     83.940  84.021  83.765  84.318
Wright High School     83.833  83.813  84.156  84.073

## Scores by School Spending
* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [45]:
# Need to 'undo' the formatting applied to the 'Per Student Budget' column of the School Summary dataframe from above
# Strips dollar sign ($), comma (,) and converts data type from String to Float
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].replace("[\$,]","",regex=True).astype(float)

# Create bins and labels relavent to 'Per Student Budget'
bins = [0, 585, 630, 645, 680]
group_labels = ["< $585","$585-$630","$630-$645","$645-$680"]

# Add 'Spending Ranges' to School Summary dataframe
school_summary_df["Spending Ranges (Per Student)"] = pd.cut(school_summary_df["Per Student Budget"], bins, labels=group_labels)

# Group School Summary by 'Spending Ranges'
score_spending_groups = school_summary_df.groupby("Spending Ranges (Per Student)")

# Create a DataFrame with the specific columns from the groupby object
score_spending_df = score_spending_groups[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]].mean()

# Apply formatting to show 3 decimal places
score_spending_df = score_spending_df.style.format({
    "Average Math Score": "{:.3f}",
    "Average Reading Score": "{:.3f}",
    "% Passing Math": "{:.3f}",
    "% Passing Reading": "{:.3f}",
    "% Overall Passing": "{:.3f}"
})
score_spending_df

## Scores by School Size
* Perform the same operations as above, based on school size.

In [46]:
# Create bins and labels relavent for Student Population (per school)
bins = [0, 1000, 2000, 5000]
group_labels = ["Small (< 1000)"," Medium (1000-2000)","Large (2000-5000)"]

# Add 'School Size' to summary dataframe
school_summary_df["School Size"] = pd.cut(school_summary_df["Total Students"], bins, labels=group_labels)

# Group School Summary by 'School Size'
score_bysize_groups = school_summary_df.groupby("School Size")

# Create a DataFrame with the specific columns from the groupby object
score_bysize_df = score_bysize_groups[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]].mean()

# Apply formatting to show 3 decimal places
score_bysize_df = score_bysize_df.style.format({
    "Average Math Score": "{:.3f}",
    "Average Reading Score": "{:.3f}",
    "% Passing Math": "{:.3f}",
    "% Passing Reading": "{:.3f}",
    "% Overall Passing": "{:.3f}"
})
score_bysize_df

## Scores by School Type
* Perform the same operations as above, based on school type

In [47]:
# Group School Summary by 'School Type'
score_bytype_groups = school_summary_df.groupby("School Type")

# Create a DataFrame with the specific columns from the groupby object
score_bytype_df = score_bytype_groups[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]].mean()

# Apply formatting to show 3 decimal places
score_bytype_df = score_bytype_df.style.format({
    "Average Math Score": "{:.3f}",
    "Average Reading Score": "{:.3f}",
    "% Passing Math": "{:.3f}",
    "% Passing Reading": "{:.3f}",
    "% Overall Passing": "{:.3f}"
})
score_bytype_df